#loginSection {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 100%);
  height: 100vh;
  background-position: center center;
  background-size: cover;
}
.loginForm {
  display: grid;
  grid-template-areas: "h1" "email" "password" "btn";
  width: 30%;
  margin: 0% auto;
  padding: 12%;
  grid-gap: 10%;
  height: 30%;
}
.loginForm h1 {
  text-align: center;
  color: white;
  font-size: 36px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
  grid-area: h1;
}
.loginForm .email {
  grid-template-areas: "email";
  height: 100%;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  padding: 1%;
}
.loginForm .password {
  grid-template-areas: "password";
  height: 100%;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  padding: 1%;
}
.loginForm .submit {
  grid-template-areas: "btn";
  height: 100%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
  border: none;
  padding: 1%;
  cursor: pointer;
}
.loginForm .submit:hover {
  background-color: rgb(226, 225, 225);
  transition: all 0.001s ease-in !important;
}
.loginForm .email,
.loginForm .password,
.loginForm .submit:focus {
  outline: none;
}
.loginForm .email,
.loginForm .password,
.loginForm .submit:active {
  outline: none;
}
